doctype html
html
  head
    block head
      title= title
      link(rel="stylesheet" href="/stylesheets/style.css")
      link(rel="stylesheet"
           href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
           integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
           crossorigin="anonymous")
  body
    if currentUser
      button(type="button" onclick="location.href=\"/logout\"") Logout
      p Logged in as #{currentUser.username}
    else
      button(type="button" onclick="location.href=\"/login\"") Login
    block content
